<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />



<title>Free Website Templates</title>
<link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
</head>
<body>
<div id="container">
	<!-- Page Title -->
	<div id="page_title">
		<h1><span>The Music Website</span></h1>
	</div>
	<!-- / Page Title -->
	<div id="header_image"><span>&nbsp;</span></div>
	<!-- Page Header -->
	<div id="header_container_left">
		<div id="header_container_right">
			<div id="header_container">
				<div id="page_header">
					<div id="header_hidden">&nbsp;</div>
					<!-- Header Punchline -->
					<div id="header_punchline">
						<h3><span>Your Punchline Goes Here</span></h3>
					</div>
					<div id="user_nav">
					  <%= link_to "Sign in con Twitter", "/auth/twitter" %>
					</div>
					<!-- / Header Punchline -->
					<!-- / Header Punchline -->
					<!-- Header Navigation Menu -->
					<div id="header_menu">
						<ul>
							<li id="menu_5"><a href="/bands"><b>Bandas</b></a></li>
							<li id="menu_5"><a href="/name_concerts"><b>Conciertos</b></a></li>
							<li id="menu_5"><a href="/viewers"><b>Asistentes</b></a></li>
<!--
	usuarios
	roles

	dtypes
	utypes

--band_usuarios
--sessions
	bands
	name_concerts
	sites
	viewers
--users
-->
						</ul>
					</div>
					<!-- / Page Header : Menu -->
					<!-- Header Links -->
					<div id="header_links">
						<ul>
							<li><a href="/usuarios"><b>Usuarios</b></a></li>
							<li><a href="/roles"><b>Roles</b></a></li>
							<li><a href="/dtypes"><b>Tipo de documentos</b></a></li>
							<li><a href="/utypes"><b>Tipo de usuarios</b></a></li>
							<li><a href="/sites"><b>Locales</b></a></li>
						</ul>
					</div><div class="clearthis"></div>
					<!-- / Header Links -->
				</div>
			</div><div class="inner_copy"></div>
		</div>
	</div>
	<!-- / Page Header -->
	<!-- Main Content -->
	<div id="maincontent_container">
		<div id="maincontent">
			<div id="musicshop">
				<%= yield %>
			</div>
			<!-- / My Music Shop -->
		</div>
	</div>
	<!-- / Main Content -->
	<!-- Page Footer -->
	<div id="page_footer">
		<div class="fleft"><p>Copyright statement.</p></div>
		<div class="fright"><p>Great collection of free templates <a href="http://www.websitetemplatesonline.com" target="_blank">here</a>. | <a href="http://www.getjoomlatemplatesfree.com/" title="Joomla!">www.GetJoomlaTemplatesFree.com</a>. Templates best for Joomla. </p></div><div class="fclear"></div>
	</div>
	<!-- / Page Footer -->
</div>
<%= yield :scripts %>

</body>
</html>