<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Games - Bar Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div class="header">
		<div>
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="events.html">Events</a>
				</li>
				<li class="selected">
					<a href="games.html">Games</a>
				</li>
				<li>
					<a href="menu.html">Menu</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
			</ul>
			<a href="index.html" class="logo"><img src="images/logo.png" alt="logo"></a>
		</div>
	</div>
	<div class="body">
		<div>
			<div class="games">
				<p>
					This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
				</p>
				<br>
				<h4>Poker</h4>
				<p>
					SCHEDULE : &nbsp;&nbsp;&nbsp;&nbsp;Monday - Thursday : 7pm - onwards
				</p>
				<br>
				<h4>Sexy Poker</h4>
				<p>
					SCHEDULE : &nbsp;&nbsp;&nbsp;&nbsp;Friday - Saturday     : 9pm - onwards
				</p>
				<br><br>
				<h4>Karaoke Night</h4>
				<p>
					SCHEDULE : &nbsp;&nbsp;&nbsp;&nbsp;Monday, Wednesday and Friday -  : 9pm - 12am
				</p>
				<br>
				<h4>Billiard &amp; Dart</h4>
				<p>
					You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. This is just a place holder, so you can see what the site would look like. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us.
				</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="connect">
			<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
		</div>
		<p>
			&#169; Copyright 2012. All rights reserved.
		</p>
	</div>
</body>
</html>
