* {margin:0;padding:0}
body {background:url('images/background.gif') #3e3437 repeat 0 0;color:#b1b0ae;font-family:verdana, arial, sans-serif;font-size:11px;text-align:center}
a {color:#b1b0ae;text-decoration:underline}
a:hover {color:#8b8a89}
span {display:none}
img {border:none}
ul {list-style-type:none}
li {list-style-type:none}
.fleft {float:left}
.fright {float:right}
.fclear {clear:both}
p {margin:10px 0 20px;text-align:justify;line-height:14px}
.clearthis {margin:0;height:1px;clear:both;float:none;font-size:1px;line-height:0;overflow:hidden;visibility:hidden}
#container {margin:0 auto;width:719px;text-align:left}
.link-more {font-size:10px;font-family:tahoma, arial, sans-serif;font-weight:bold;text-align:right;line-height:10px}
.link-more a {text-decoration:none}
/* Page Title */
#page_title {padding:16px 0 11px}
#page_title h1 {height:34px;background:url('images/website_title.gif') no-repeat 50% 0%}
/* Page Header Containers */
#header_image {position:absolute;margin-left:533px;width:136px}
#header_image span {float:right;display:block;background:url('images/header_image.gif') no-repeat 0 0;position:relative;top:-28px;z-index:1;width:136px;height:195px}
#header_container_left {padding-left:61px;background:url('images/body_leftspeaker.gif') no-repeat 0 5px}
#header_container_right {margin-right:8px;padding-right:53px;background:url('images/body_rightspeaker.gif') no-repeat 100% 5px}
#header_container {border:1px solid #9d9898}
#page_header {width:595px;height:147px;background:url('images/header_background.gif') no-repeat 0 0;color:#fbc551;overflow:hidden;font-size:10px;font-family:tahoma, arial, sans-serif;font-weight:bold;text-align:left}
.inner_copy {border:0;color:#f00;float:left;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
#page_header a {color:#fbc551}
#page_header a:hover {color:#fbfe00}
#header_hidden {width:145px;height:147px;float:right;overflow:hidden}
/* Page Header Punchline */
#header_punchline {padding-top:29px;width:310px;float:right}
#header_punchline h3 {width:310px;height:13px;background:url('images/website_punchline.gif') no-repeat 0 0}
/* Header Navigation Menu */
#header_menu {padding-top:28px;width:140px;float:left}
#header_menu ul {margin-left:19px;width:73px}
#header_menu li {margin-bottom:3px;border:1px solid #ea7711;float:left}
#header_menu li a {display:block;width:71px;height:15px;text-decoration:none;overflow:hidden}
#header_menu li a:hover {background:none;background:#6c0528}
#header_menu li a b {display:block;margin-top:1px;padding-left:15px}
li#menu_1 a {background:url('images/menu_1_bg.gif') no-repeat 0 0}
li#menu_2 a {background:url('images/menu_2_bg.gif') no-repeat 0 0}
li#menu_3 a {background:url('images/menu_3_bg.gif') no-repeat 0 0}
li#menu_4 a {background:url('images/menu_4_bg.gif') no-repeat 0 0}
li#menu_5 a {background:url('images/menu_5_bg.gif') no-repeat 0 0}
/* Page Header Links */
#header_links {padding-top:25px;width:310px;float:right}
#header_links ul {padding-left:2px}
#header_links li {padding-bottom:3px}
/* Main Content Area */
#maincontent_container {margin:1px 61px;padding:18px 20px 12px;border:1px solid #9d9898;background:#6c0528}
#maincontent {width:555px}
#maincontent .divider {width:555px;height:1px;background:url('images/body_divider.gif') repeat-x 0 0;overflow:hidden}
/* Chartbusters */
#chartbusters {margin:0 1px 12px;width:553px}
#chartbusters h2 {width:78px;height:20px;background:url('images/chartbusters_title.gif') no-repeat 0 0}
.chartbusters_entry {margin:20px 0 5px;width:553px}
.chartbusters_thumbnail {margin-top:2px;float:left}
.chartbusters_thumbnail img {border:1px solid #978f8d}
.chartbusters_details {float:right;width:450px}
.chartbusters_details p {margin:1px 0 10px}
#chartbusters .link-more {text-transform:lowercase}
#chartbusters .link-more a {color:#ffa329}
#chartbusters .link-more a:hover {color:#d88a23}
/* My Music Shop */
#musicshop {margin:10px 1px 2px;width:553px}
#musicshop h2 {width:116px;height:20px;background:url('images/musicshop_title.gif') no-repeat 0 0}
#musicshop .link-more {text-transform:lowercase}
#musicshop .link-more a {color:#a9c60f}
#musicshop .link-more a:hover {color:#89a207}
/* footer */
#page_footer {margin:10px 61px 10px;color:#fff;font-family:tahoma, arial, sans-serif;font-size:11px;text-align:center}
#page_footer div {padding:0 21px}	
#page_footer a {color:#fff}
#page_footer a:hover {color:#ceced0}